{% extends "app_manager/app_install_base.html" %}
{% load bootstrap_tags staticfiles %} 
{% load i18n %} 
{% block title %} Categorized Styler {% endblock %} 
{% block head %}
{% include "geonode/ext_header.html" %} 
{{ block.super }}
<style>
  #wrap {
    background-color: #f3f3f3;
  }
</style>
{% endblock %} 
{% block body %}
<!-- {% block app_configuration -->
<br>
<div class="container">
  <div class="row" id="styler-ct"></div>
</div>
<br>
<br>
{% endblock %} 
{% block extra_script %}
<script type="text/javascript">
  {% if PROXY_URL %}
      const PROXY_URL='{{PROXY_URL}}'
  {% else %}
      const PROXY_URL=null
  {% endif %}
  const URLS = {
    geoserver: "{{ GEOSERVER_BASE_URL }}",
    geoserverRestProxy: "proxy/geoserver/rest",
    proxy: PROXY_URL,
    layersAPI: "{% url 'api_dispatch_list' api_name='api' resource_name='layers' %}",
    stylesUrl: "{% url 'cartoview_categorized_styler.index' %}styles",
    {% if 'access_token' in request.session %}
        wfsURL : "{{ GEOSERVER_BASE_URL }}wfs?access_token={{request.session.access_token}}",
        wmsURL : "{{ GEOSERVER_BASE_URL }}wms?access_token={{request.session.access_token}}",
        {% else %}
        wfsURL : "{{ GEOSERVER_BASE_URL }}wfs",
        wmsURL : "{{ GEOSERVER_BASE_URL }}wms",
    {% endif %}
    static: "{{ STATIC_URL }}",
    appStatic: "{{ STATIC_URL }}{{APP_NAME}}",
    media: "{{ MEDIA_URL }}",
    rest: "{% url 'app_manager_base_url' %}rest/app_manager/",
    geonodeRest: "{% url 'api_api_top_level' 'api' %}",
    appLogo:'{% static '{{APP_NAME}}/logo.png' %}'
  };
  const APP_NAME = "{{APP_NAME}}"
  const username = '{{username}}'
</script>

<script src="{{ STATIC_URL }}cartoview_categorized_styler/ol.js"></script>
<script src="{{ STATIC_URL }}cartoview_categorized_styler/OpenLayers.js"></script>
<script src="{{ STATIC_URL }}cartoview_categorized_styler/dist/commons.js?v={{v}}"></script>
<script src="{{ STATIC_URL }}cartoview_categorized_styler/dist/CategoriezedStyler.bundle.js?v={{v}}"></script>
<!-- <script src="{{ STATIC_URL }}cartoview_categorized_styler/categorized-styler.bundle.min.js?v={{v}}"></script> -->

<script type="text/javascript">
  var viewer= new Viewer("styler-ct",username,URLS)
  viewer.view()
</script>
{% endblock %}