<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Categorized Styler</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" >
  <link rel="shortcut icon" type="image/png" href="{{ STATIC_URL }}cartoview/img/icon.png"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" >
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}cartoview_categorized_styler/ol.css">
<body>
  <div class="container">
    <div class="row" id="styler-ct">
    </div>
  </div>

  <script type="text/javascript">
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    const URLS = {
      geoserver: "{{ GEOSERVER_BASE_URL }}",
      geoserverRestProxy:"proxy/geoserver/rest",
      stylesUrl: "{% url 'cartoview_categorized_styler.index' %}styles",
      //{% if PROXY_URL %}
      proxy: "{{ PROXY_URL }}",
      //{% endif %}
      static: "{{ STATIC_URL }}",
      media: "{{ MEDIA_URL }}",
      rest: "{% url 'app_manager_base_url' %}rest/app_manager/",
      geonodeRest: "{% url 'api_api_top_level' 'api' %}"
    };
    const CSRF_TOKEN = getCookie('csrftoken');
    const APP_NAME = "{{APP_NAME}}"
  </script>

  <script src="{{ STATIC_URL }}cartoview_categorized_styler/ol.js"></script>
  <script src="{{ STATIC_URL }}cartoview_categorized_styler/OpenLayers.js"></script>
  <!-- <script src="{{ STATIC_URL }}cartoview_categorized_styler/categorized-styler.bundle.js?v={{v}}"></script> -->
  <script src="{{ STATIC_URL }}cartoview_react_styler/dist/categorized-styler.bundle.js?v={{v}}"></script>

  <script type="text/javascript">
    var styler = React.createElement(Styler);
    ReactDOM.render(styler, document.getElementById("styler-ct"));
  </script>
</body>
</html>
